body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    background: rgb(250, 226, 226);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #81acc5b7;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  footer-content {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    align-items: baseline;